@charset "utf-8";

@import "node_modules/nord/src/sass/nord.scss";
@import "https://cdn.jsdelivr.net/gh/dreampulse/computer-modern-web-font@master/fonts.css";
@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&display=swap');
@import "variables.scss";

$family-sans-serif: "Computer Modern Bright", sans-serif;
$family-serif: "Computer Modern Serif", serif;
$title-family: $family-serif;
$subtitle-family: $family-serif;

@import "node_modules/bulma/bulma.sass";